background_cover {
    @include background_size( cover );
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}

/* @extend background_cover; */

background_contain {
    @include background_size( contain );
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}
display_flex {
    display: flex;
    display: -webkit-flex;
}
list_type_ulli {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
